<nav class="sidebar">
  <h2 class="logo">MathPlayOpen</h2>
  <ul>
    <li>
      <a routerLink="/games" class="sidebar-link">
        <img src="https://cdn-icons-png.flaticon.com/512/2780/2780137.png" alt="Icono de Juegos" class="sidebar-icon">
        Juegos
      </a>
    </li>
    <li>
      <a routerLink="/news" class="sidebar-link">
        <img src="https://cdn-icons-png.flaticon.com/512/2964/2964063.png" alt="Icono de Noticias" class="sidebar-icon">
        Noticias
      </a>
    </li>
    <li>
      <a routerLink="/logout" class="sidebar-link">
        <img src="https://cdn-icons-png.flaticon.com/512/2780/2780137.png" alt="Icono de Cerrar sesión" class="sidebar-icon">
        Cerrar sesión
      </a>
    </li>
  </ul>
</nav>
