<div class="ranking-container">
  <h2>Points ranking</h2>
  <table>
    <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ranking of rankings; let i = index">
      <td>
        <ng-container *ngIf="i < 3; else positionNumber">
          <img [src]="'/assets/medal-' + (i + 1) + '.png'" alt="Medalla" class="medal" />
        </ng-container>
        <ng-template #positionNumber>{{ i + 1 }}</ng-template>
      </td>
      <td>{{ ranking.fullName }}</td>
      <td>{{ ranking.score }}</td>
    </tr>
    </tbody>
  </table>
</div>
